.logo {
  position: fixed;
  top: 102px;
  left: 531px;
  width: 198px;
  height: 198px;
  z-index: 2;
}

.head_panel {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 102px;
  left: 71px;
  width: 436px;
  height: 50px;
  padding: 0 26px;
  box-sizing: border-box;
  background: no-repeat;
  background-image: url(../assets/header.svg);
  z-index: 2;
}

.crime_logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: 3;
}

.header_text {
  margin-left: 10px;
  margin-top: 14px;
  line-height: 23px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.body_panel {
  position: fixed;
  top: 205px;
  left: 71px;
  height: auto;
  max-height: 600px;
  overflow-y: auto;
  // overflow: hidden;
  width: 436px;
  border-radius: 20px;
  border: #f1cfc8 2px solid;
  background-color: #6d54ce;
  padding: 26px 31px;
  z-index: 2;
  box-sizing: border-box;
}

.body_title {
  display: inline-flex;
  width: fit-content;
  height: 34px;
  align-items: center;
  justify-content: center;
  border-radius: 34px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  background-color: #ffefeb;
  z-index: 3;
}
.body_title > span {
  padding: 8px 12px;
  flex: 0 0 auto;
}

.select_all {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.checkbox_text {
  display: flex;
  align-items: center;
  margin-left: 6px;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  padding-top: 2px;
  font-weight: 500;
  word-break: keep-all;
  text-align: left;
}

.checkboxes {
  display: grid;
  row-gap: 15px;
}

.checkbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.checkbox_wrap {
  display: inline-flex;
}

.check {
  width: 18px;
}

.check:hover {
  cursor: pointer;
}

.street-harrasment {
  position: absolute;
  width: 436px;
  height: 50px;
  background-color: #6d54ce;
  border-style: solid;
  border-width: 2px;
  border-color: #f1cfc8;
  z-index: 2;
}

.article_table {
  display: grid;
  grid-template-columns: 97px 277px;
  grid-auto-rows: 27px;
  align-items: center;
  border-top: #00ffc2 0.5px solid;
  border-bottom: #00ffc2 0.5px solid;
}

.table_position {
  color: #ffefeb;
  font-size: 12px;
  text-align: left;
}

.table_title {
  color: #ffefeb;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  &:hover {
    cursor: pointer;
    text-decoration-line: underline;
    font-weight: bold;
  }
}

.paging {
  margin-top: 26px;
  margin-left: 55px;
  margin-right: 55px;
  width: 263.5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paging_numbers {
  display: flex;
  gap: 12px;
}

.paging_number {
  color: #ffefeb;
  font-size: 14px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  &:hover {
    cursor: pointer;
    background-image: url('../assets/hoverPage.svg');
    background-size: cover;
    color: #4b7de2;
  }
}

.selected_page {
  background-image: url('../assets/selectedPage.svg');
  background-size: cover;
}

.prev_next {
  width: 4px;
  &:hover {
    cursor: pointer;
  }
}
